<html>
	<head>
		<title>February Bank</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="../assets/css/custom.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="videoBG">
			<div id="overlay"></div>
			<video poster="../assets/media/bg--image.png" autoplay muted loop>
			  <source src="../assets/media/bg--video.mp4" type="video/mp4">
			</video>
		</div>

		<div id="container" class="container">
			<div class="row">

				<nav id="nav" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<a href="#home"><img src="../assets/media/image__logo--wordmark.png" id="logo--wordmark"></a>
					<ul>
						<li><a href="#about" class="js-section-link">About Me</a></li>
						<li><a href="#photo-album" class="js-section-link">Photo Album</a></li>
						<li><a href="#music" class="js-section-link">Music // Lyrics</a></li>
						<li><a href="#contact" class="js-section-link">Contact</a></li>
						<li><a href="#new" class="js-section-link green">New Shit</a></li>
					</ul>
				</nav>

				<div id="content" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<section id="home" class="js-section d-none">
						<h1 style="display: none;">February Bank</h1>
						<img src="../assets/media/image__logo--monogram.png" id="logo--monogram">
						<ul>
							<li id="link--youtube" class="home-link"><a>
								<div>
									<!--img src="../assets/media/image__placeholder--16x9-variant.jpg" class="home-link__image--hover"-->
									<img src="../assets/media/links/static/image__link--youtube.png" class="home-link__image">
								</div>
							</a></li>
							<li id="link--spotify" class="home-link"><a>
								<div>
									<!--img src="../assets/media/image__placeholder--16x9-variant.jpg" class="home-link__image--hover"-->
									<img src="../assets/media/links/static/image__link--spotify.png" class="home-link__image">
								</div>
							</li>
							<li id="link--apple-music" class="home-link"><a>
								<div>
									<!--img src="../assets/media/image__placeholder--16x9-variant.jpg" class="home-link__image--hover"-->
									<img src="../assets/media/links/static/image__link--apple-music.png" class="home-link__image">
								</div>
							</a></li>
							<li id="link--instagram" class="home-link"><a>
								<div>
									<!--img src="../assets/media/image__placeholder--16x9-variant.jpg" class="home-link__image--hover"-->
									<img src="../assets/media/links/static/image__link--instagram.png" class="home-link__image">
								</div>
							</a></li>
							<li id="link--twitter" class="home-link"><a>
								<div>
									<!--img src="../assets/media/image__placeholder--16x9-variant.jpg" class="home-link__image--hover"-->
									<img src="../assets/media/links/static/image__link--twitter.png" class="home-link__image">
								</div>
							</a></li>
							<li id="link--facebook" class="home-link"><a>
								<div>
									<!--img src="../assets/media/image__placeholder--16x9-variant.jpg" class="home-link__image--hover"-->
									<img src="../assets/media/links/static/image__link--facebook.png" class="home-link__image">
								</div>
							</a></li>
						</ul>
						<img src="../assets/media/patches/image__patch--heart.png" id="decor--heart" class="image--floating">
						<img src="../assets/media/patches/image__patch--ice-cream.png" id="decor--icecream" class="image--floating">
						<img src="../assets/media/patches/image__patch--cloud.png" id="decor--cloud" class="image--floating">
						<img src="../assets/media/patches/image__patch--bandaid.png" id="decor--bandaid" class="image--floating">
					</section>

					<section id="photo-album" class="js-section d-none">
						<h1 style="display: none;">Photo Album</h1>
						<div class="js-masonry masonry"><div class="js-masonry-sizer col-xs-3 col-lg-3"></div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--3x4.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--3x4.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--3x4.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--4x3.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--4x3.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--3x4.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--3x4.jpg" class="img-fluid"></a>
							</div>
							<div class="js-masonry-item masonry__item col-xs-3 col-lg-3">
								<a><img src="../assets/media/image__placeholder--3x4.jpg" class="img-fluid"></a>
							</div>
						</div>
					</section>

					<section id="about" class="js-section d-none">
						<h1>Meet <br/>February <br/>Bank</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipisciing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetuer adipisciing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetuer adipisciing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
					</section>

				</div>
			</div>
		</div>

	<script src="../assets/js/custom.js"></script>

	</body>
</html>